.logo {
  height: 1.5rem;
}
.logoBar {
  margin-bottom: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.ifOpen {
  justify-content: space-between;
}
.ifClosed {
  justify-content: center;
}
